
<!DOCTYPE html>
<html>
<head>
  <title>header</title>
  <!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="../statix/css/bootstrap.css">
<link rel="stylesheet" href="../statix/css/bootstrap-grid.css">
<link rel="stylesheet" href="../statix/css/bootstrap.min.css">
<link rel="stylesheet" href="../statix/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="../statix/css/bootstrap-reboot.css">
<link rel="stylesheet" href="../statix/css/bootstrap-reboot.min.css">

<link rel="stylesheet" href="../statix/css/bootstrap.css.map">
<link rel="stylesheet" href="../statix/css/bootstrap.min.css.map">
<link rel="stylesheet" href="../statix/css/bootstrap-grid.css.map">
<link rel="stylesheet" href="../statix/css/bootstrap-grid.min.css.map">
<link rel="stylesheet" href="../statix/css/bootstrap-reboot.css.map">
<link rel="stylesheet" href="../statix/css/bootstrap-reboot.min.css.map">


<script src="../statix/js/bootstrap.bundle.js"></script>
<script src="../statix/js/bootstrap.bundle.min.js"></script>
<script src="../statix/js/bootstrap.min.js"></script>
<script src="../statix/js/bootstrap.js"></script>

<script src="../statix/js/bootstrap.bundle.js.map"></script>
<script src="../statix/js/bootstrap.bundle.min.js.map"></script>
<script src="../statix/js/bootstrap.js.map"></script>
<script src="../statix/js/bootstrap.min.js.map"></script>

<style type="text/css">


body{
  background-color: #eee;
}

</style>

</head>
<body>

  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">角色</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">管理员</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="login.html">登录</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="register.html">注册</a>
      </li>
      </ul>
      </div>
    </form>
  </div>
</nav>




